@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clear
	{
		clear:both	
	}
body
	{
		background: url(imgs/texture2.png) repeat #1a1a1a;
		color: #fff;	
		font-family:Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 16px;	
	}

#wrapper
	{
		width: 100%;
		

	}
#backgroundwrapper
	{
			
		width: 960px;
		margin-left: auto;
		margin-right: auto;
    	text-align: left;
	}
	
/*	
#logonnav
	{
		width: 100%;
		background: url(imgs/topnav.png) repeat-x;
		height: 150px;
		margin-top: 30px;	
	}
	
	#logonnav #topnav a
	{
		text-decoration: none;
		display: block;
		line-height: 50px;
		font-family: BebasNeueRegular, Arial, Helvetica, sans-serif;
		font-size: 20px;
		height:50px;
		width: 126px;	
		text-align:center;
	}

 #topnav
 	{
		margin-top: 50px;	
	}

#logonnav #topnav
	{
		
		width:960px;
		margin-left: auto;
		margin-right: auto;
    	text-align: left;	
	}

#logonnav #topnav li
	{
		width: 126px;
		text-decoration: none;
		height: 50px;
		float: left;
		
	}
	
	*/
	
#logonnav li
	{
		float: left;	
		
	}
#logonnav #logo
	{
		background: url(imgs/Untitled-1.png) no-repeat;
		width: 350px;
		height: 150px;
		margin-bottom:20px;	
	}
	


#logonnav #topnav li
	{
		width: 191px;
		text-decoration: none;
		height: 50px;
		background: url(imgs/liner2.png) repeat-x;
		float: left;
		
	}
.border
	{
		border-right: solid #000 1px;
		height: 50pxl	
	}
#logonnav #topnav a
	{
		text-decoration: none;
		display: block;
		line-height: 50px;
		font-family: BebasNeueRegular, Arial, Helvetica, sans-serif;
		height:50px;
		width:191px;
		font-size: 20px;
		text-align:center;
	}
	
#logo span
	{
		display: none;	
	}


#topnav a:link {color: #fff; ; }
#topnav a:active {color: #fff;  }
#topnav a:visited {color: #fff;  }


#topnav #status
	{
		color: #4f4e4e;
		background:url(imgs/linerw.png) repeat-x;	
	}
	
	
	
#makeMeScrollable
		{
			width:960px;
			height: 400px;
			position: relative;
			
			margin-top: 20px
		}
		
		#makeMeScrollable div.scrollableArea img
		{
			
		float: left;
		padding: 20px 0px 15px 20px;	
		
			
		}
.scrollmargrt
	{
		margin-right: 20px;	
	}



/* Invisible left hotspot */
div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	min-width: 75px;
	width: 10%;
	height: 100%;
	/* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
	background-image: url(../images/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	left: 0;
	/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
	cursor: url(../images/cursors/cursor_arrow_left.cur), url(images/cursors/cursor_arrow_left.cur),w-resize;
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{
	background-image: url(../images/arrow_left.gif);				
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35; /* Standard CSS3 opacity setting */
	-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	background-image: url(../images/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	right: 0;
	cursor: url(../images/cursors/cursor_arrow_right.cur), url(images/cursors/cursor_arrow_right.cur),e-resize;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
	background-image: url(../images/arrow_right.gif);
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}
	
	

#content
	{
		height: 400px;
		
		background: url(imgs/linerbox2.png) repeat-x;
		margin-top: 20px;	
	}

#left, #right, #middle
{
	float: left;
	width:310px;
	height: 300px;
	background: url(imgs/linerbox.png) repeat-x;
	margin-top:20px;
	border: solid 1px #000;
		
}

#left, #middle 
	{
		margin-right: 12px;	
	}
	
#left h3, #right h3, #middle h3, #content h3
	{
		height: 50px;
		width::300px;
		background: url(imgs/tail-h3.jpg) repeat-x;
		border-bottom: solid #000 2px;	
		font-family: BebasNeueRegular, Arial, Helvetica, sans-serif;
		color: #fff;
		font-size: 20px;	
	}
#left h3 span, #right h3 span, #middle h3 span, #content h3 span, #sponsers h3
	{
		padding-top: 15px;
		padding-left: 15px;
		display: block;
	}
#sponsers h3
{
	font-family: BebasNeueRegular, Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 20px;	
}

#left ul li
	{
		float:left;
		margin-bottom: 10px;
			
	}
#right ul
	{
		padding-top: 15px;
		padding-left: 15px;	
	}
#right ul li span
	{
		font-weight:bold;
		color:#F7095D;
		font-size:12px;
		margin-right: 3px;	
	}
.imgmarg
	{
		margin-right: 20px;	
	}
#right img
	{
		display:block;
		padding: 15px 15px 0px 15px;	
	}
#sponsers div
	{
		float: left;
		width:310px;
		background: #000;
		border: solid 1px #000;
		margin-top: 15px;
		height: 150px;
		
		
	}
#sponsers div.imgs
	{
		margin-right: 12px;
			
	}

#right p, #middle p, #left ul
	{
		padding: 15px 15px 0px 15px;	
	}

#middle p span
	{
		color:#F7095D;
		font-size:12px;
	}
#middle p
	{
		font-size: 11px;	
	}

#cover, #dress, #intheclub
	{
		width: 400px;
		float: left;
		
	}
#cover, #dress, #intheclub
	{
		padding-top: 15px;
		padding-left: 25px;	
	}
		
#content #intheclub
	{
		margin-right: 110px;	
	}
#content #intheclub p
	{
		margin-bottom: 	20px;
	
	}
.djs2
	{
		width: 800px;
		margin-top: 20px;
		margin-left: 15px;
	}
#party 
	{
		float:left;
		width: 310px;
		height: 350px;
		margin-left: 15px;
		margin-top:20px;	
	}
#party2, #party3
	{
		float:left;
		width: 310px;
		height: 350px;
		
		margin-top:20px;	
	}

#party img, #party2 img, #party3 img
	{
		float: left;
		margin-right: 15px;	
	}
#content
	{
		color: #fff;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 16px;
		
	}
#content  h4
	{
		margin-bottom: 10px;	
		font-family: BebasNeueRegular, Arial, Helvetica, sans-serif;
		color: #fff;
		font-size: 20px;
	}
#content p span
	{
		font-weight:bold;
			
	}
	
#content p
	{
		margin-left: 25px;
		margin-top:20px;
	}
	
#content input
	{
		margin-left: 25px;
		
	}
	
#social
	{
		margin-top: 30px;	
	}
#social a
	{
		display: block;
		height:32px;
		width:150px;
		float: left;
		margin-right: 15px;
		padding-left:40px;
		line-height: 30px;
		color: #4f4e4e;
		font-weight: bold;
		text-decoration: none;
		
	}
#social a span
	{
		color: #fff;	
	}
a.fb
	{
		background: url(imgs/facebook.png) no-repeat;
			
	}
a.tw
	{
		background: url(imgs/twitter.png) no-repeat;	
	}
a.yt
	{
		background: url(imgs/youtube.png) no-repeat;	
	}
#footer
	{
		margin-top: 10px;	
		margin-bottom: 100px;
	}