$header-color: #161d24;
$lato: 'Lato', sans-serif;
$white-text: #f2f2f2;
$lighter-white-text: #fafafa;
$bg: #f2f2f2;
$dark-blue: #111F2C;
$peach: #fd8251;

$ivory: #fffff0;
$blush: #ead3d0;
$lighter-gray: #dedbd8;
$gray: #919191;
$navy: #3a3d54;

body{
  background-color: $white-text;
}

h1{
  font-family: $lato;
  font-weight: 300;
  color: $white-text;
  margin-bottom:  -21px;
  font-size: 55px;


}


h2{
  font-family: $lato;
  font-weight: 300;
  color: $peach;
}

h3{
  font-family: $lato;
  font-weight: 400;
  color: $peach;
}

p{
  font-family: $lato;
  font-weight: 400;
  color: $peach;
  margin-bottom: 0px;
}

#hamburger{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;

}

#overlay-nav{
  background-color: $peach;
  opacity: 0.9;
  z-index:1000;
  height:0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .closebtn-holder{
    text-align: left;
    margin-left: 20px;


    .closebtn{
      font-size: 50px;
      color: $white-text;

    }
  }
  .overlay-text{

    ul li{
      font-family: $lato;
      font-weight: 300;
      font-size: 50px;
      text-decoration: none;
      margin-bottom: 20px;
      list-style-type: none;

      a{
        color: $white-text;
      }
      
    }
  }

}

#home-index{
  background: url(../img/christianandchimere.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $dark-blue;

  #logo{
    margin-bottom: 100px;
  }


}

#event-info{
  background-color: $peach;

  h2{
    font-family: $lato;
    font-weight: 300;
    color: $white-text;

  }

  h3{
    font-family: $lato;
    font-weight: 400;
    color: $white-text;
    font-size: 39px;
  }

  p{
    font-family: $lato;
    font-weight: 400;
    color: $white-text;
    margin-bottom: 0px;
  }
  #countdown{
    margin-bottom: 100px;

  }
}

#about-us{
  position: relative;

  background-color: $dark-blue;



  #section-two-header{
    margin-bottom: 15px;
  }



  p{
    color: $white-text;
  }
}


