

$header-color: #161d24;
$lato: 'Lato', sans-serif;
$nothing: 'Nothing You Could Do';
$white-text: #f2f2f2;
$lighter-white-text: #fafafa;
$bg: #f2f2f2;
$dark-blue: #111F2C;
$peach: #fd8251;

$ivory: #fffff0;
$blush: #ead3d0;
$lighter-gray: #dedbd8;
$gray: #919191;
$navy: #3a3d54;

body{
  background-color: $white-text;
}

#main-navigation{
  height: 50px;
  background-color: $ivory;
}

h1{
  font-family: $nothing;
  font-weight: 400;
  color: $ivory;
  font-size: 70px;


}


h2{
  font-family: $nothing;
  font-weight: 300;
  color: $ivory;
}

h3{
  font-family: $lato;
  font-weight: 400;
  color: $ivory;
}



#hamburger{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;

}

#overlay-nav{
  background-color: $peach;
  opacity: 0.9;
  z-index:1000;
  height:0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .closebtn-holder{
    text-align: left;
    margin-left: 20px;


    .closebtn{
      font-size: 50px;
      color: $white-text;

    }
  }
  .overlay-text{

    ul li{
      font-family: $lato;
      font-weight: 300;
      font-size: 50px;
      text-decoration: none;
      margin-bottom: 20px;
      list-style-type: none;

      a{
        color: $white-text;
      }
      
    }
  }

}

#home-index-section{
  background: url(../img/christianandchimere.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $dark-blue;

  #logo{
    margin-bottom: 100px;
  }

  h2, h3{
    font-family: $lato;
  }
  .ghost-button {
    margin-top: 20px;
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: $navy;
    border: 1px solid $navy;
    text-align: center;
    outline: none;
    text-decoration: none;
    
    a{
      color: $navy;
      font-family: $lato;
      font-size: 25px;
      font-weight: 300;

    }
  }






}

#event-info-section{
  background-color: $peach;

  h2{
    font-family: $lato;
    font-weight: 300;
    color: $white-text;

  }

  h3{
    font-family: $lato;
    font-weight: 400;
    color: $white-text;
    font-size: 39px;
  }

  p{
    font-family: $lato;
    font-weight: 400;
    color: $white-text;
    margin-bottom: 0px;
  }
  #countdown{
    margin-bottom: 100px;

  }
}

#about-us-section{


  position: relative;
  background-color: $navy;

  h3{
    font-weight:300;
    color: $blush;
  }



  p{
    color: $white-text;
  }
}

#proposal-section{


}


.negative-space{
  margin-bottom: -15px;
}

.margin-1{
  margin-bottom: 18px;
}
.margin-2{
  margin-bottom: 24px;
}
.margin-3{
  margin-bottom: 30px;
}
.margin-4{
  margin-bottom: 36px;
}


